@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: grid;
}

.grid-cols-full {
	grid-template-columns: 100%;
}

.grid-cols-w96 {
	grid-template-columns: 24rem /* 384px */;
}

.grid-cols-w100 {
	grid-template-columns: 500px;
}

.h-500 {
	height: 500px;
}

.grid-t-rows {
	grid-template-rows: calc(100% - 184px) max-content;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.rows-template-full {
	grid-template-rows: 100%;
}

:root {
	--scrollbarBgColor: rgba(0, 0, 0, 0.05);
	--scrollbarThumbColor: rgba(0, 0, 0, 0.15);
	--scrollbarThumbColorSecond: rgba(255, 255, 255, 0.7);
	--scrollbarWidth: 2px;
	--scrollbarBorder: 0 solid var(--scrollbarBgColor);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}
::-webkit-scrollbar-track {
	background: var(--scrollbarBgColor);
	border-radius: var(--scrollbarBorderRadius);
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumbColor);
	border-radius: var(--scrollbarBorderRadius);
	border: var(--scrollbarBorder);
}
